<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh;">

<div class="signup-container">

    <h2>Student Enrollment</h2>
    <p class="subtitle">Register to mark attendance</p>

    <select id="role">
        <option value="">Select Role</option>
        <option value="teacher">Teacher</option>
        <option value="student">Student</option>
    </select>
    <select id="role">
        <option value="">Select Role</option>
        <option value="MCA 1ST YEAR">MCA 1ST YEAR</option>
        <option value="MCA 2ND YEAR">MCA 2ND YEAR</option>
        <option value="MSC 1ST YEAR">MSC 1ST YEAR</option>
        <option value="MSC 2ND YEAR">MSC 2ND YEAR</option>
    </select>
    <input type="text" id="name" placeholder="Full Name">
    <input type="email" id="email" placeholder="Email">
    <input type="text" id="roll" placeholder="Roll Number">
    <input type="password" id="password" placeholder="Password">

    <button onclick="signup()">Sign Up</button>

    <p class="login-link">
        Already have account? <a href="login.html">Login</a>
    </p>

    <p id="msg"></p>

</div>

<script>
    function signup(){
    const role = document.getElementById("role").value;
    console.log("hello");
     
    if(role === "teacher") {
        window.location.href = "teacher/dashboard.html";
    }else if(data.message === "Student registered successfully" && role === "student") {
        window.location.href = "student/stddash.html";
    }

    }
async function signup() {
    const name = document.getElementById("name").value;
    const email = document.getElementById("email").value;
    const std = document.getElementById("class").value;
    const roll = document.getElementById("roll").value;
    const password = document.getElementById("password").value;
    const role = document.getElementById("role").value;


    if(name === "" || email === "" || roll === "" || password === "" || std === "") {
        document.getElementById("msg").innerText = "All fields are required!";
        return;
    }

    // Send data to backend
    const res = await fetch('http://localhost:5000/api/signup', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ name, email, roll, password })
    });

    const data = await res.json();

    document.getElementById("msg").innerText = data.message;

    if(data.message === "Student registered successfully" || role === "teacher") {
        window.location.href = "teacher/dashboard.html";
    }else if(data.message === "Student registered successfully" && role === "student") {
        window.location.href = "student/stddash.html";
    }
}
</script>
</body>
</html>